<div class="task-detail-block" *ngIf="!is_hidden&&task">
  <div class="task-info">
    <div class="flex">
        <p>id: </p><p>{{task.id}}</p>
    </div>
    <div class="flex">
      <p>content: </p>
      <p>
          <input type="text" class='input-task' [(ngModel)]="task.text">
          <span><fa-icon [icon]="faCheck" [ngClass]="{'faCheck': true, 'faChecked': is_checked}"  (click)="updateContent()"></fa-icon></span>
      </p>

    </div>
    <div class="flex">
        <p>date_created: </p><p>{{task.day_added}}</p>
    </div>
    <div class="flex">
        <p>is_reminder: </p><p>{{task.reminder}}</p>
    </div>
</div>
</div>

