
.task-detail-block
  display: flex

  .task-info
    margin-bottom: 40px

.flex
    display: flex
    p
      width: fit-content
      margin: 5px
      text-indent: 20px
      color: red
    p:first-child
        color: black
        min-width: 120px
        text-align: right

    .input-task:focus, .day-added
      outline: none
      border-bottom: 1px solid #f5a071

    .input-task, .day-added
      width: fit-content
      padding: 2px
      border: none
      border-bottom: 1px solid #fad5c1
      color: red
      margin-left: -2px

    .day-added
      margin-left: 20px

.faCheck
  margin-left: 25px
  color: #f79868
  font-size: 1.2em

.faChecked
  color: #f50


