<div class="tasks-list">{{tasks}}
    <ul *ngFor="let task of tasks">
        <li [ngClass]="{selected: selectedTask == task && !is_hidden}">
          <span id="circle"></span>
          <span class="task" (click)="onSelect(task)">{{task.text}}</span>
          <span class="task-icons">
            <a href="#" (click)="setReminder(task)" [ngClass]="task.reminder? 'faBell': ''"><fa-icon [icon]="faBell"></fa-icon></a>
            <a href="#" (click)="onDelete(task)" class="faXmark"><fa-icon [icon]="faXmark" ></fa-icon></a>
          </span>

        </li>

        <app-task-item
              [task]="selectedTask"
              *ngIf="task === selectedTask && !is_hidden"
              [is_hidden]="false"
              (updateTaskEvent)="onUpdateTask($event)"
        ></app-task-item>
    </ul>
</div>


